.button {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.button:disabled {
    -fx-background-color: blue;
    -fx-opacity: 100;
}

.label {
    -fx-text-fill: orange;
    -fx-font-size: 20px;
}

.thumb {
    -fx-background-color: orange;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 50;
}

.track {
    -fx-background-color: blue;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 50;
}

.root {
    -fx-background-color: lightyellow;
}