.number-range-control {
    -fx-padding:          0;
    -fx-background-color: white;
    -base-color:          rgb(21, 59, 148);
    -out-of-range-color : green;
}

.number-range-control .value {
    -fx-font-family:         'Lato Light';
    -fx-font-size:           10;
    -fx-font-smoothing-type: lcd;
    -fx-fill:                white;
}

.number-range-control .thumb {
    -fx-fill:         -base-color;
    -fx-stroke:       derive(-base-color, 70%);
    -fx-stroke-width: 0.8;
    -fx-stroke-type:  inside;
    -fx-cursor:       hand;
}

.number-range-control .value-bar {
    -fx-stroke:          -base-color;
    -fx-stroke-line-cap: round;
    -fx-stroke-width:    1.5;
}

.number-range-control .scale {
    -fx-stroke:          rgb(200, 200, 200);
    -fx-stroke-line-cap: round;
    -fx-stroke-width:    1.5;
}

