.number-range {
    -fx-padding         : 5;
    -fx-background-color: rgb(12, 12, 12);
}

.number-range .background-circle {
    -fx-stroke-width: 30;
    -fx-stroke      : rgb(40, 40, 40);
    -fx-fill        : transparent;
}

.number-range .bar {
    -fx-stroke-width   : 30;
    -fx-stroke         : rgb(58, 233, 6);
    -fx-stroke-line-cap: round;
    -fx-fill           : transparent;
}

.number-range .thumb {
    -fx-fill  : rgb(255,140,0);
    -fx-cursor: hand;
}

.number-range .centered-label{
    -fx-fill: rgb(58, 233, 6);
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

