.slim-value-display {
    -fx-padding         : 2;
    -fx-background-color: rgb(33,33,33);
    -base-color         : rgb(77, 208, 225);
    -bar-background     : rgb(66, 66, 66);
    -background         : rgb(33,33,33);
}

.slim-value-display .separator {
    -fx-stroke      : -base-color;
    -fx-stroke-width: 3;
}

.slim-value-display .title {
    -fx-font-family: 'Lato Regular';
    -fx-font-size  : 13;
    -fx-fill       : -base-color;
}

.slim-value-display .value {
    -fx-font-family: 'Lato Light';
    -fx-font-size  : 48;
    -fx-fill       : rgb(228, 231, 238);
}

.slim-value-display .unit {
    -fx-font-family: 'Lato Regular';
    -fx-font-size  : 18;
    -fx-fill       : rgb(141, 147, 151);
}

.slim-value-display .bar-background {
    -fx-fill        : transparent;
    -fx-stroke      : -bar-background;
    -fx-stroke-width: 5;
    -fx-stroke-type : centered;
}

.slim-value-display .bar{
    -fx-fill           : transparent;
    -fx-stroke         : -base-color;
    -fx-stroke-width   : 5;
    -fx-stroke-type    : centered;
    -fx-stroke-line-cap: round;
}

